APP_PORT=5000
CHARACTERS=[{"imageUrl":"https://img.pokemondb.net/sprites/home/normal/bulbasaur.png","name":"Bulbasaur"},{"imageUrl":"https://img.pokemondb.net/sprites/home/normal/charmander.png","name":"Charmander"},{"imageUrl":"https://img.pokemondb.net/sprites/home/normal/squirtle.png","name":"Squirtle"},{"imageUrl":"https://img.pokemondb.net/sprites/home/normal/pidgey.png","name":"Pidgey"},{"imageUrl":"https://img.pokemondb.net/sprites/home/normal/rattata.png","name":"Rattata"}]